html{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    height: 100%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto 1fr auto;
}   

nav{    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    flex-grow: 1;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 10px;

}

main{
    background: peru; 
    display: flex;/* 
    justify-content: center;
    align-items: center; */
}  
   
article{
    flex: 1 1 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 250 / 0.4);
}

article:first-of-type{
    background-color: antiquewhite;
}

article:last-of-type{
    background-color: thistle;
}

img {
    width: 100%;
    object-fit: fill;
}

nav a:hover{
    background-color: whitesmoke;
}