html{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0%;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto 1fr auto;
}   

nav{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a {
    flex: 1 0 auto;
    color: black;
    text-decoration: none;
    text-align: center;

}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}  
   
article{
    display: grid;
    place-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 250 / 0.4);
    align-items: start;
}

article nav{
    width: 70%;
}

img {
    width: 100%;
    object-fit: scale-down;
}

nav a:hover{
    background-color: antiquewhite;
}

h1{
    align-self: end;
}

h3{
    font-size: 5rem;
    margin: 10px;
    align-self: end;
}
